USE [master]
GO
/****** Object:  Database [CamDo59KMT_ThaiNguyen]    Script Date: 10/05/2026 10:30:08 ******/
CREATE DATABASE [CamDo59KMT_ThaiNguyen]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'CamDo59KMT_ThaiNguyen', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER1\MSSQL\DATA\CamDo59KMT_ThaiNguyen.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'CamDo59KMT_ThaiNguyen_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER1\MSSQL\DATA\CamDo59KMT_ThaiNguyen_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [CamDo59KMT_ThaiNguyen].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [CamDo59KMT_ThaiNguyen]
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyContract]    Script Date: 10/05/2026 10:30:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyContract]
(
    @ContractID INT,
    @TargetDate DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE
        @TienGoc DECIMAL(18,2),
        @NgayCam DATE,
        @Deadline1 DATE,
        @SoNgay INT,
        @SoNgayQuaHan INT,
        @LaiDon DECIMAL(18,2),
        @TongNo DECIMAL(18,2)
    SELECT
        @TienGoc = TienVayGoc,
        @NgayCam = NgayCam,
        @Deadline1 = HanLaiDon
    FROM PhieuCamDo
    WHERE MaPhieuCam = @ContractID
    -- Nếu chưa quá hạn lãi đơn
    IF @TargetDate <= @Deadline1
    BEGIN
        SET @SoNgay =
            DATEDIFF
            (
                DAY,
                @NgayCam,
                @TargetDate
            )
        -- Lãi đơn:
        -- 5.000 / 1.000.000 / ngày
        -- = 0.005
        SET @LaiDon =
            @TienGoc * 0.005 * @SoNgay
        SET @TongNo =
            @TienGoc + @LaiDon
    END
    -- Nếu đã quá Deadline1
    ELSE
    BEGIN
        -- Tính lãi đơn trước
        SET @SoNgay =
            DATEDIFF
            (
                DAY,
                @NgayCam,
                @Deadline1
            )
        SET @LaiDon =
            @TienGoc * 0.005 * @SoNgay
        -- Số ngày quá hạn
        SET @SoNgayQuaHan =
            DATEDIFF
            (
                DAY,
                @Deadline1,
                @TargetDate
            )
        -- Lãi kép
        SET @TongNo =
            (@TienGoc + @LaiDon)
            * POWER(1.005, @SoNgayQuaHan)
    END
    RETURN @TongNo
END
GO
/****** Object:  UserDefinedFunction [dbo].[fn_CalcMoneyTransaction]    Script Date: 10/05/2026 10:30:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[fn_CalcMoneyTransaction]
(
    @TransactionID INT,
    @TargetDate DATE
)
RETURNS DECIMAL(18,2)
AS
BEGIN
    DECLARE @ContractID INT
    DECLARE @TongNo DECIMAL(18,2)
    SELECT
        @ContractID = MaPhieuCam
    FROM NhatKyDongTien
    WHERE MaGiaoDich = @TransactionID
    SET @TongNo =
        dbo.fn_CalcMoneyContract
        (
            @ContractID,
            @TargetDate
        )
    RETURN @TongNo
END
GO
/****** Object:  Table [dbo].[NguoiCamDo]    Script Date: 10/05/2026 10:30:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiCamDo](
	[MaNguoiCam] [int] IDENTITY(1,1) NOT NULL,
	[TenKhach] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[DiaChi] [nvarchar](200) NULL,
	[CCCD] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiCam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhieuCamDo]    Script Date: 10/05/2026 10:30:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhieuCamDo](
	[MaPhieuCam] [int] IDENTITY(1,1) NOT NULL,
	[MaNguoiCam] [int] NULL,
	[TienVayGoc] [decimal](18, 2) NULL,
	[NgayCam] [date] NULL,
	[HanLaiDon] [date] NULL,
	[HanThanhLy] [date] NULL,
	[TrangThaiPhieu] [nvarchar](50) NULL,
	[TienConNo] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaPhieuCam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_DanhSachNoXau]    Script Date: 10/05/2026 10:30:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_DanhSachNoXau]
AS

SELECT

    nc.TenKhach,

    nc.SDT,

    pc.TienVayGoc,

    DATEDIFF
    (
        DAY,
        pc.HanLaiDon,
        GETDATE()
    ) AS SoNgayQuaHan,

    dbo.fn_CalcMoneyContract
    (
        pc.MaPhieuCam,
        GETDATE()
    ) AS TongTienHienTai,

    dbo.fn_CalcMoneyContract
    (
        pc.MaPhieuCam,
        DATEADD(MONTH, 1, GETDATE())
    ) AS TongTienSau1Thang

FROM PhieuCamDo pc

JOIN NguoiCamDo nc
ON pc.MaNguoiCam = nc.MaNguoiCam

WHERE

    GETDATE() > pc.HanLaiDon

    AND pc.TrangThaiPhieu
        <> N'Đã thanh toán đủ'

GO
/****** Object:  Table [dbo].[DoCam]    Script Date: 10/05/2026 10:30:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DoCam](
	[MaDoCam] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuCam] [int] NULL,
	[TenDo] [nvarchar](200) NULL,
	[GiaTriUocTinh] [decimal](18, 2) NULL,
	[TrangThaiDo] [nvarchar](50) NULL,
	[DaBanThanhLy] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaDoCam] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiThuTien]    Script Date: 10/05/2026 10:30:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiThuTien](
	[MaNguoiThu] [int] IDENTITY(1,1) NOT NULL,
	[TenNhanVien] [nvarchar](100) NULL,
	[SoDienThoai] [varchar](15) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaNguoiThu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhatKyDongTien]    Script Date: 10/05/2026 10:30:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhatKyDongTien](
	[MaGiaoDich] [int] IDENTITY(1,1) NOT NULL,
	[MaPhieuCam] [int] NULL,
	[MaNguoiThu] [int] NULL,
	[NgayDong] [datetime] NULL,
	[SoTienKhachTra] [decimal](18, 2) NULL,
	[SoTienNoConLai] [decimal](18, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[MaGiaoDich] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DoCam] ON 

INSERT [dbo].[DoCam] ([MaDoCam], [MaPhieuCam], [TenDo], [GiaTriUocTinh], [TrangThaiDo], [DaBanThanhLy]) VALUES (1, 1, N'iPhone 15 Pro Max', CAST(25000000.00 AS Decimal(18, 2)), N'Đang giữ', 0)
INSERT [dbo].[DoCam] ([MaDoCam], [MaPhieuCam], [TenDo], [GiaTriUocTinh], [TrangThaiDo], [DaBanThanhLy]) VALUES (2, 2, N'Laptop Dell Gaming', CAST(30000000.00 AS Decimal(18, 2)), N'Đang giữ', 0)
INSERT [dbo].[DoCam] ([MaDoCam], [MaPhieuCam], [TenDo], [GiaTriUocTinh], [TrangThaiDo], [DaBanThanhLy]) VALUES (3, 3, N'Xe Máy Wave Alpha', CAST(18000000.00 AS Decimal(18, 2)), N'Đã bán thanh lý', 1)
SET IDENTITY_INSERT [dbo].[DoCam] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiCamDo] ON 

INSERT [dbo].[NguoiCamDo] ([MaNguoiCam], [TenKhach], [SDT], [DiaChi], [CCCD]) VALUES (1, N'Nguyễn Văn An', N'0911111111', N'Hà Nội', N'001111111111')
INSERT [dbo].[NguoiCamDo] ([MaNguoiCam], [TenKhach], [SDT], [DiaChi], [CCCD]) VALUES (2, N'Trần Minh Đức', N'0922222222', N'Thái Nguyên', N'002222222222')
INSERT [dbo].[NguoiCamDo] ([MaNguoiCam], [TenKhach], [SDT], [DiaChi], [CCCD]) VALUES (3, N'Lê Hoàng Nam', N'0933333333', N'Bắc Giang', N'003333333333')
SET IDENTITY_INSERT [dbo].[NguoiCamDo] OFF
GO
SET IDENTITY_INSERT [dbo].[NhatKyDongTien] ON 

INSERT [dbo].[NhatKyDongTien] ([MaGiaoDich], [MaPhieuCam], [MaNguoiThu], [NgayDong], [SoTienKhachTra], [SoTienNoConLai]) VALUES (1, 1, NULL, CAST(N'2026-05-10T09:34:04.357' AS DateTime), CAST(2000000.00 AS Decimal(18, 2)), CAST(8000000.00 AS Decimal(18, 2)))
INSERT [dbo].[NhatKyDongTien] ([MaGiaoDich], [MaPhieuCam], [MaNguoiThu], [NgayDong], [SoTienKhachTra], [SoTienNoConLai]) VALUES (2, 1, NULL, CAST(N'2026-05-10T09:44:12.737' AS DateTime), CAST(3000000.00 AS Decimal(18, 2)), CAST(7000000.00 AS Decimal(18, 2)))
INSERT [dbo].[NhatKyDongTien] ([MaGiaoDich], [MaPhieuCam], [MaNguoiThu], [NgayDong], [SoTienKhachTra], [SoTienNoConLai]) VALUES (3, 1, NULL, CAST(N'2026-05-10T10:12:48.170' AS DateTime), CAST(0.00 AS Decimal(18, 2)), CAST(10000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[NhatKyDongTien] OFF
GO
SET IDENTITY_INSERT [dbo].[PhieuCamDo] ON 

INSERT [dbo].[PhieuCamDo] ([MaPhieuCam], [MaNguoiCam], [TienVayGoc], [NgayCam], [HanLaiDon], [HanThanhLy], [TrangThaiPhieu], [TienConNo]) VALUES (1, 1, CAST(10000000.00 AS Decimal(18, 2)), CAST(N'2026-05-10' AS Date), CAST(N'2026-06-19' AS Date), CAST(N'2026-07-20' AS Date), N'Đang vay', CAST(7000000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuCamDo] ([MaPhieuCam], [MaNguoiCam], [TienVayGoc], [NgayCam], [HanLaiDon], [HanThanhLy], [TrangThaiPhieu], [TienConNo]) VALUES (2, 2, CAST(15000000.00 AS Decimal(18, 2)), CAST(N'2026-05-10' AS Date), CAST(N'2026-05-15' AS Date), CAST(N'2026-06-15' AS Date), N'Quá hạn', CAST(8000000.00 AS Decimal(18, 2)))
INSERT [dbo].[PhieuCamDo] ([MaPhieuCam], [MaNguoiCam], [TienVayGoc], [NgayCam], [HanLaiDon], [HanThanhLy], [TrangThaiPhieu], [TienConNo]) VALUES (3, 3, CAST(7000000.00 AS Decimal(18, 2)), CAST(N'2026-05-10' AS Date), CAST(N'2026-04-01' AS Date), CAST(N'2026-05-01' AS Date), N'Đã thanh lý', CAST(7000000.00 AS Decimal(18, 2)))
SET IDENTITY_INSERT [dbo].[PhieuCamDo] OFF
GO
ALTER TABLE [dbo].[DoCam] ADD  DEFAULT (N'Đang giữ') FOR [TrangThaiDo]
GO
ALTER TABLE [dbo].[DoCam] ADD  DEFAULT ((0)) FOR [DaBanThanhLy]
GO
ALTER TABLE [dbo].[NhatKyDongTien] ADD  DEFAULT (getdate()) FOR [NgayDong]
GO
ALTER TABLE [dbo].[PhieuCamDo] ADD  DEFAULT (getdate()) FOR [NgayCam]
GO
ALTER TABLE [dbo].[PhieuCamDo] ADD  DEFAULT (N'Đang giữ đồ') FOR [TrangThaiPhieu]
GO
ALTER TABLE [dbo].[DoCam]  WITH CHECK ADD FOREIGN KEY([MaPhieuCam])
REFERENCES [dbo].[PhieuCamDo] ([MaPhieuCam])
GO
ALTER TABLE [dbo].[NhatKyDongTien]  WITH CHECK ADD FOREIGN KEY([MaNguoiThu])
REFERENCES [dbo].[NguoiThuTien] ([MaNguoiThu])
GO
ALTER TABLE [dbo].[NhatKyDongTien]  WITH CHECK ADD FOREIGN KEY([MaPhieuCam])
REFERENCES [dbo].[PhieuCamDo] ([MaPhieuCam])
GO
ALTER TABLE [dbo].[PhieuCamDo]  WITH CHECK ADD FOREIGN KEY([MaNguoiCam])
REFERENCES [dbo].[NguoiCamDo] ([MaNguoiCam])
GO
/****** Object:  StoredProcedure [dbo].[sp_GiaHanHopDong]    Script Date: 10/05/2026 10:30:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_GiaHanHopDong]
(
    @MaPhieuCam INT,
    @SoNgayGiaHan INT
)
AS
BEGIN

    DECLARE
        @TienLai DECIMAL(18,2),

        @TienConNo DECIMAL(18,2)

    -- Tính tiền lãi hiện tại

    SET @TienLai =
        dbo.fn_CalcMoneyContract
        (
            @MaPhieuCam,
            GETDATE()
        )

    SELECT
        @TienConNo = TienVayGoc
    FROM PhieuCamDo
    WHERE MaPhieuCam = @MaPhieuCam

    -- Chỉ lấy phần lãi

    SET @TienLai =
        @TienLai - @TienConNo

    -- Ghi log gia hạn

    INSERT INTO NhatKyDongTien
    (
        MaPhieuCam,
        SoTienKhachTra,
        SoTienNoConLai
    )
    VALUES
    (
        @MaPhieuCam,
        @TienLai,
        @TienConNo
    )

    -- Dời deadline

    UPDATE PhieuCamDo
    SET
        HanLaiDon =
            DATEADD
            (
                DAY,
                @SoNgayGiaHan,
                HanLaiDon
            ),

        HanThanhLy =
            DATEADD
            (
                DAY,
                @SoNgayGiaHan,
                HanThanhLy
            ),

        TrangThaiPhieu = N'Đang vay'

    WHERE MaPhieuCam = @MaPhieuCam

    PRINT N'Gia hạn hợp đồng thành công'

END
GO
/****** Object:  StoredProcedure [dbo].[sp_TaoHopDong]    Script Date: 10/05/2026 10:30:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_TaoHopDong]
(
    @MaNguoiCam INT,
    @TienVayGoc DECIMAL(18,2),
    @HanLaiDon DATE,
    @HanThanhLy DATE,
    @TenDo NVARCHAR(200),
    @GiaTriUocTinh DECIMAL(18,2)
)
AS
BEGIN
    -- Tạo phiếu cầm đồ
    INSERT INTO PhieuCamDo
    (
        MaNguoiCam,
        TienVayGoc,
        HanLaiDon,
        HanThanhLy,
        TrangThaiPhieu,
        TienConNo
    )
    VALUES
    (
        @MaNguoiCam,
        @TienVayGoc,
        @HanLaiDon,
        @HanThanhLy,
        N'Đang giữ đồ',
        @TienVayGoc
    )
    -- Lấy mã phiếu vừa tạo
    DECLARE @MaPhieuCamMoi INT
    SET @MaPhieuCamMoi = SCOPE_IDENTITY()
    -- Thêm tài sản cầm cố
    INSERT INTO DoCam
    (
        MaPhieuCam,
        TenDo,
        GiaTriUocTinh,
        TrangThaiDo
    )
    VALUES
    (
        @MaPhieuCamMoi,
        @TenDo,
        @GiaTriUocTinh,
        N'Đang giữ'
    )
    PRINT N'Tạo hợp đồng thành công'
END
GO
/****** Object:  StoredProcedure [dbo].[sp_ThanhToanHopDong]    Script Date: 10/05/2026 10:30:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROC [dbo].[sp_ThanhToanHopDong]
(
    @MaPhieuCam INT,
    @SoTienTra DECIMAL(18,2)
)
AS
BEGIN

    DECLARE
        @TongNo DECIMAL(18,2),

        @ConNo DECIMAL(18,2)

    -- Kiểm tra tài sản đã thanh lý chưa

    IF EXISTS
    (
        SELECT *
        FROM DoCam
        WHERE
            MaPhieuCam = @MaPhieuCam
            AND DaBanThanhLy = 1
    )
    BEGIN

        PRINT N'Tài sản đã bị thanh lý, không thể thanh toán'

        RETURN

    END

    -- Tính tổng nợ hiện tại

    SET @TongNo =
        dbo.fn_CalcMoneyContract
        (
            @MaPhieuCam,
            GETDATE()
        )

    -- Tính số nợ còn lại

    SET @ConNo =
        @TongNo - @SoTienTra

    -- Ghi log thanh toán

    INSERT INTO NhatKyDongTien
    (
        MaPhieuCam,
        SoTienKhachTra,
        SoTienNoConLai
    )
    VALUES
    (
        @MaPhieuCam,
        @SoTienTra,
        @ConNo
    )

    -- Cập nhật số nợ còn lại

    UPDATE PhieuCamDo
    SET TienConNo = @ConNo
    WHERE MaPhieuCam = @MaPhieuCam

    -- Nếu trả hết nợ

    IF @ConNo <= 0
    BEGIN

        -- Cập nhật trạng thái hợp đồng

        UPDATE PhieuCamDo
        SET TrangThaiPhieu = N'Đã thanh toán đủ'
        WHERE MaPhieuCam = @MaPhieuCam

        -- Trả tài sản cho khách

        UPDATE DoCam
        SET TrangThaiDo = N'Đã trả khách'
        WHERE MaPhieuCam = @MaPhieuCam

        PRINT N'Khách đã thanh toán đủ'

    END

    -- Nếu chưa trả hết

    ELSE
    BEGIN

        UPDATE PhieuCamDo
        SET TrangThaiPhieu = N'Đang trả góp'
        WHERE MaPhieuCam = @MaPhieuCam

        PRINT N'Khách chưa thanh toán hết'

    END

    -- Gợi ý tài sản có thể trả

    SELECT
        TenDo,
        GiaTriUocTinh
    FROM DoCam
    WHERE
        MaPhieuCam = @MaPhieuCam
        AND GiaTriUocTinh >= @ConNo

END
GO
/****** Object:  Trigger [dbo].[trg_ChuyenQuaHan]    Script Date: 10/05/2026 10:30:09 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_ChuyenQuaHan]
ON [dbo].[PhieuCamDo]
AFTER INSERT, UPDATE
AS
BEGIN

    UPDATE PhieuCamDo
    SET TrangThaiPhieu = N'Quá hạn'
    WHERE
        GETDATE() > HanLaiDon
        AND TrangThaiPhieu = N'Đang vay'

END
GO
ALTER TABLE [dbo].[PhieuCamDo] ENABLE TRIGGER [trg_ChuyenQuaHan]
GO
/****** Object:  Trigger [dbo].[trg_DaBanThanhLy]    Script Date: 10/05/2026 10:30:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_DaBanThanhLy]
ON [dbo].[PhieuCamDo]
AFTER UPDATE
AS
BEGIN

    UPDATE DoCam
    SET
        TrangThaiDo = N'Đã bán thanh lý',
        DaBanThanhLy = 1
    WHERE MaPhieuCam IN
    (
        SELECT MaPhieuCam
        FROM inserted
        WHERE TrangThaiPhieu = N'Đã thanh lý'
    )

END
GO
ALTER TABLE [dbo].[PhieuCamDo] ENABLE TRIGGER [trg_DaBanThanhLy]
GO
/****** Object:  Trigger [dbo].[trg_SanSangThanhLy]    Script Date: 10/05/2026 10:30:10 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TRIGGER [dbo].[trg_SanSangThanhLy]
ON [dbo].[PhieuCamDo]
AFTER INSERT, UPDATE
AS
BEGIN

    UPDATE DoCam
    SET TrangThaiDo = N'Sẵn sàng thanh lý'
    WHERE MaPhieuCam IN
    (
        SELECT MaPhieuCam
        FROM PhieuCamDo
        WHERE
            GETDATE() > HanThanhLy
            AND TrangThaiPhieu = N'Quá hạn'
    )

END
GO
ALTER TABLE [dbo].[PhieuCamDo] ENABLE TRIGGER [trg_SanSangThanhLy]
GO
USE [master]
GO
